@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.modal {
  transition: opacity 0.25s ease;
}

body.modal-active {
  overflow: hidden;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}